@import 'app-theme';

.scores {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-right: 32px;

  & div {
    flex-grow: 1;
  }

  .score {
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .last-score {
    text-align: left;
  }

  .high-score {
    text-align: right;
  }
}
