<div class="huezz">
  <div class="header">
    <div class="settings">
      <button mat-icon-button [routerLink]="'/settings'">
        <mat-icon [matBadge]="(newFeatures$ | async) === true ? '.' : ''" matBadgeSize="small" matBadgeColor="warn">settings</mat-icon>
      </button>
    </div>
    <div class="score">
      <app-score [width]="cellsX$ | async" [height]="cellsY$ | async"></app-score>
    </div>
  </div>
  <div class="game">
    <div class="boxes" [ngStyle]="{ 'aspect-ratio': (width$ | async)! / (height$ | async)! }">
      <svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        [attr.viewBox]="'0 0 ' + (width$ | async) + ' ' + (height$ | async) + ''"
        [attr.width]="width$ | async"
        [attr.height]="height$ | async"
        class="svg"
        (touchcancel)="touchEnd()"
        (touchend)="touchEnd()"
        (mouseup)="mouseUp()"
        #svg
      >
        <defs>
          <filter id="f1" x="-0.5" y="-0.5" width="100" height="100">
            <feGaussianBlur in="SourceGraphic" stdDeviation="25" />
          </filter>
          <filter id="f2" x="-0.5" y="-0.5" width="100" height="100">
            <feGaussianBlur in="SourceGraphic" stdDeviation="100" />
          </filter>
        </defs>
        @for (row of grid; track row; let y = $index) { @for (cell of row; track cell; let x = $index) {
        <rect
          [attr.x]="x * cellSize"
          [attr.y]="y * cellSize"
          [attr.width]="cellSize"
          [attr.height]="cellSize"
          [attr.fill]="cell | toRgba"
          class="cell"
          (touchstart)="touchStart($event, {x, y})"
          (mousedown)="mouseDown({x, y})"
          (mousemove)="mouseMove({x, y})"
        />
        <g filter="url(#f1)">
          <rect
            [attr.transform-origin]="(x + 0.5) * cellSize + ' ' + (y + 0.5) * cellSize"
            [attr.x]="x * cellSize"
            [attr.y]="y * cellSize"
            [attr.width]="cellSize"
            [attr.height]="cellSize"
            class="cell-light"
            rx="50%"
            (touchstart)="touchStart($event, {x, y})"
            (mousedown)="mouseDown({x, y})"
            (mousemove)="mouseMove({x, y})"
          />
        </g>
        <circle
          class="circle"
          [ngClass]="{ placed: x === cell.pos[0] && y === cell.pos[1] }"
          [attr.cx]="(cellSize / (cellsX$ | async)!) * (x + 0.5) + '%'"
          [attr.cy]="(cellSize / (cellsY$ | async)!) * (y + 0.5) + '%'"
          r="0.5%"
        ></circle>
        } }
        <line
          x1="0"
          y1="100%"
          x2="100%"
          y2="0"
          filter="url(#f2)"
          class="line"
          [ngClass]="{ complete: checkGameEnd(grid) === 0 }"
          [ngStyle]="{ '--width': (width$ | async) + 'px', '--height': (height$ | async) + 'px' }"
        />
      </svg>
    </div>
  </div>
  <div class="controls">
    <button mat-icon-button #restartButton>
      <mat-icon>shuffle</mat-icon>
    </button>
  </div>
</div>
