@import 'app-theme';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  .score {
    flex-grow: 1;
  }
}

.game {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxes {
  max-width: 80vw;
  max-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  overflow: hidden;

  .svg {
    .line {
      --width: 300px;
      --height: 300px;
      transform: translate(calc(var(--width) * -1), calc(var(--height) * -1));
      stroke: white;
      stroke-width: 100px;

      &.complete {
        animation: shine 1.5s forwards;
      }
    }

    .cell-light {
      fill: rgba(255, 255, 255, 20%);
      transform: scale(0.5);
    }

    .circle {
      fill: none;

      &.placed {
        fill: black;
      }
    }
  }
}

@keyframes shine {
  0% {
    transform: translate(calc(var(--width) * -1), calc(var(--height) * -1));
  }

  100% {
    transform: translate(var(--width), var(--height));
  }
}
