@import 'app-theme';

:host {
  padding-top: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxes {
  margin: auto;
  display: flex;
  width: min-content;
}

.rect {
  stroke: rgba(0, 0, 0, 100%);
  stroke-width: 0;
}

.circle {
  fill: transparent;

  &.placed {
    fill: black;
  }
}

.rect-shine {
  fill: rgba(255, 255, 255, 50%);
  filter: blur(40px);
}
